/* implemented styles in this assignment php_assign.php */

body{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.container{
  margin: auto auto;
  max-width: 80%;
  padding: 10px;
}

.service-title{
color: #ff7900;
}

.service-secondary-title{
color :#4b5561;
}

a{
color: #4b5561;
text-decoration: none;
}

.list_icon{
width: 100%;
}

.list_icon li{
padding: 10px;
list-style-type: none;
display: inline;
}

.content{
display: flex;
flex-wrap: wrap;
}

.content .sec_content,.content .main_image{
flex: 50%;
}


.left ul{
  margin-left: 0px;
  margin-block-start: 0rem;
  margin-inline-start: 0rem;
  padding-inline-start: 0px;
  position: relative;
}

.list_icon li{
  list-style-type: circle;
  color: #ff7900;
}

.button{
  text-align: left;
  display: inline-block;
  border: #ff7900 solid 2px;
  border-radius: 5px;
  color: #4b5561;
  font-size: medium;
  padding: 5px 10px;
}
