/*main container to center the gif*/
.container{
  margin: auto;
  width: 80%;
  text-align: center;
}
/*adding styles in image*/
img{
  height: 40rem;
  width: 70rem;
  border:2px solid black;
  box-shadow: 2px 2px 10px green;
}
